.App {
  margin: auto;
  width: 100%;
}

.calendar {
  width: 100%;
}

.boton-agregar {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
  display: flex;
  align-items: center;
}
